OpticonBackend/obj/*


.fake
OpticonBackend/OpticonBackend.db
OpticonBackend/OpticonBackend.db-shm
OpticonBackend/OpticonBackend.db-wal
OpticonBackend/bin/*
OpticonBackend/bin/Debug/net8.0/OpticonBackend.deps.json
